<!doctype html>
<html>
  <head>
    <title>The many faces of Michelle Desa</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css" />
  </head>
  <body id="uxDesigner">
    <article class="content"> 
      <p>michelle desa</p>
      <img src="../assets/images/ux-designer.png" alt="Michelle Desa" />
    
      <nav>
	<ul class="navList">
	  <li><a href="index.html">Home<a/></li>
	  <li><a href="web-designer.html">Web designer<a/></li>
	  <li><a href="frontend-developer.html">Frontend developer<a/></li>
	  <li><a href="illustrator.html">Illustrator<a/></li>
	  <li><a href="ux-designer.html" class="active">UX designer<a/></li>
	</ul>
      </nav>
    </article>
  </body>
</html>
